:root {
  --max-width: 1100px;
  --color-1: #07192E;
  --color-2: #D6E5F6;
  --color-3: #1E6DC7;
  --color-4: #203247;
  --color-5: #12437A;

  --box-shadow-color-1: #00000096;

  --box-shadow: 1px 1px 3px var(--box-shadow-color-1);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-5);
}

a {
  color: inherit;
  text-decoration: none;
}