.main {
  max-width: var(--max-width);
  position: relative;
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


  .loginWrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    min-height: 400px;
    min-width: 400px;
    margin: auto;
    box-shadow: var(--box-shadow);
    padding: 4rem;
    gap: 1rem;
    justify-content: center;

    h1 {
      color: var(--color-2);
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--color-2);
    }

    input {
      padding: 1rem;
    }

    select {
      padding: 1rem;
    }

    .button {
      padding: 1rem;
      display: flex;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      background-color: var(--color-2);
      box-shadow: var(--box-shadow);
      transition: all .25s ease-in-out;
    }

    .button:hover {
      transition: all .25s ease-in-out;
      opacity: .8;
      cursor: pointer;
    }

    .loadingText {
      color: var(--color-2);
    }
  }
}